@import "tailwindcss";


@font-face {
  font-family: SourceCode;
  src: url("./assets/fonts/SourceCode.ttf") format('truetype');
}

@font-face {
  font-family: ArchivoBlack;
  src: url("./assets/fonts/ArchivoBlack.ttf") format('truetype');
}

@theme {
  --font-clash-sourcecode: "SourceCode";
  --font-clash-archivoblack: "ArchivoBlack";
}

:root {
  background-color: #101010;
}
